body{
	padding: 50px;
}

h1{
	text-align: center;
	color: #154673;
}

img{
	width: 150px; 
	height: 180px;
}


table {
    border-collapse: collapse;
    border: 1px solid #CCC;
    font-size: 12px;
}
 
table th {
    font-weight: bold;
    background-color: #E1E1E1;
    padding:5px;
    text-align: center;
}
 
table tbody tr:hover td {
    background-color: #E5E5D8;
}
 
table td {
    padding: 5px 10px;
}